body {
    background: rgb(17, 11, 25);
}

body::-webkit-scrollbar {
    width: 1.2rem;
    background: rgb(46, 46, 46);
}

body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    height: 6rem;
    border: 2px solid gray;
}