@font-face {
  font-family: Cyberpunk;
  src: url(../utils/fonts/Cyberpunk.otf);
}

@font-face {
  font-family: BlenderProBold;
  src: url(../utils/fonts/BlenderProBold.otf);
}

.mainDetailContainer {
  background: url("../utils/img/game.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -2.5rem;
}

.navdetail {
  padding-top: 1px;
  margin-top: 1rem !important;
}

.mainDetailContainer2 {
  display: grid;
  justify-items: center;
  align-items: center;
}

.detailContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.detailContainer__h2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: BlenderProBold;
  color: cyan;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  background: black;
  padding: 1rem;
  clip-path: polygon(100% 0, 100% 80%, 90% 100%, 0 100%, 0 0);
  margin-bottom: 2rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.detailContainer__content {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  clip-path: polygon(89% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
  z-index: 1;
}

.section__genresPlatform {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
}

.content__images {
  display: grid;
  grid-column: 1/7;
  grid-row: 1/2;
  margin-bottom: 2rem;
}

.content {
  display: grid;
  grid-column: 1/7;
  grid-row: 2/4;
  background: yellow;
  width: 280px;
  padding: 2rem;
  margin-bottom: 2rem;
  clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
}

.content__imgs {
  width: 350px;
  height: 450px;
  z-index: -1;
}

.content__p {
  font-family: BlenderProBook;
  font-size: 1.2rem;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 300;
  color: rgb(14, 14, 14);
  margin-bottom: 1.5rem;
  text-align: center;
}

.content__h4 {
  font-family: BlenderProBold;
  color: red;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
}

.detail_section-div:hover {
  transition: 0.4s;
  transform: scale(1.01);
}

.detail_section-img:hover {
  transition: 0.4s;
  transform: scale(1.01);
}

.section__genresPlatform {
  align-items: center;
  background: black;
  padding: 2rem;
  margin-bottom: 3rem;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 90% 100%, 10% 100%, 0 85%);
  width: 280px;
}

.genresPlatform__h3 {
  font-family: BlenderProBold;
  color: yellow;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
}

.genresPlatform__p {
  font-family: BlenderProBold;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .detailContainer__h2 {
    font-size: 3rem;
  }
  .content__imgs {
    width: 500px;
    height: 650px;
  }
  .content {
    width: 600px;
    padding: 3rem;
    margin-top: -10rem;
  }
  .content__p {
    font-size: 1.4rem;
  }
  .section__genresPlatform {
    width: 480px;
  }
}

@media (min-width: 1024px) {
  .detailContainer__h2 {
    font-size: 3.5rem;
  }
  .content__imgs {
    width: 550px;
  }
  .content {
    width: 700px;
  }
}
