@font-face {
  font-family: Cyberpunk;
  src: url(../utils/fonts/Cyberpunk.otf);
}

.homeContainer {
  /* background: url("https://images.hdqwalls.com/download/cyberpunk-edgerunners-lucy-4k-nb-2560x1080.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.home__h2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: center;
  align-items: center;
  text-align: center;

  color: rgb(252, 238, 10);
  font-family: Cyberpunk;
  font-size: 2.3rem;
  text-shadow: -5px -5px 5px black, 5px 5px 0px black, -5px 5px 0px black,
    5px -5px 0px rgb(75, 255, 32);
  letter-spacing: -0.4rem;
  margin-bottom: 2rem;
}

.home__div {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
}

.home__div2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
}
