@font-face {
    font-family: Cyberpunk;
    src: url(../utils/fonts/Cyberpunk.otf);
}

.homeContainer {
    display: flex;
    justify-content: center;
    background: url("https://images.hdqwalls.com/download/cyberpunk-edgerunners-lucy-4k-nb-2560x1080.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 100vh;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home__h2 {
    justify-content: center;
    align-items: center;
    color: rgb(252, 238, 10);
    font-family: Cyberpunk;
    font-size: 4rem;
    text-shadow:
        -5px -5px 5px black,
        5px 5px 0px black,
        -5px 5px 0px black,
        5px -5px 0px rgb(75, 255, 32);
    letter-spacing: -0.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}