@font-face {
    font-family: Cyberpunk;
    src: url(../utils/fonts/Cyberpunk.otf);
}

@font-face {
    font-family: BlenderProBold;
    src: url(../utils/fonts/BlenderProBold.otf);
}


.landingContainer {
    display: flex;
    justify-content: center;
    background: url("../utils/img/landing.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    height: 95vh;
    align-items: center;
    margin-top: 1rem;
}

.landing {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 17rem;
}

.landing__h2 {
    color: rgb(255, 242, 1);
    font-family: Cyberpunk;
    font-size: 7rem;
    text-shadow:
        -5px -5px 5px black,
        5px 5px 0px black,
        -5px 5px 0px black,
        5px -5px 0px rgb(75, 255, 32);
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: -13px
}

.landing__button {
    background: rgb(75, 255, 32);
    color: black;
    font-family: BlenderProBold;
    font-size: 3rem;
    padding: 0 1.7rem;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 80%, 0 0);
}

.landing__button:hover {
    background: rgb(0, 240, 255);
    transition: 0.4s;
    cursor: pointer;
}