@font-face {
  font-family: BlenderProBold;
  src: url(../utils/fonts/BlenderProBold.otf);
}

.paginatedContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.paginated {
  display: flex;
}

.number,
.prev,
.next {
  background: transparent;
  color: cyan;
  font-family: BlenderProBold;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0 0.7rem;
  outline: none;
  border: none;
}

.number:hover,
.prev:hover,
.next:hover {
  background: rgb(252, 238, 10);
  color: black;
  border-radius: 30%;
}

.number:focus {
  background: rgb(252, 238, 10) !important;
  color: black !important;
  border-radius: 30% !important;
}
