.scroll_top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: yellow;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.scroll_top img {
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  .scroll_top {
    bottom: 80px;
    right: 100px;
    height: 75px;
    width: 75px;
  }

  .scroll_top img {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 1024px) {
  .scroll_top {
    bottom: 80px;
    right: 55px;
    height: 75px;
    width: 75px;
  }

  .scroll_top img {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 1280px) {
  .scroll_top {
    bottom: 60px;
    right: 100px;
    height: 55px;
    width: 55px;
  }

  .scroll_top img {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1920px) {
  .scroll_top {
    bottom: 60px;
    right: 140px;
    height: 55px;
    width: 55px;
  }

  .scroll_top img {
    height: 35px;
    width: 35px;
  }
}
